@page "/TaskList"
@using TodoListBlazorWasm.Components;
@using TodoList.Models.Enums;

<h3>Todo List</h3>

@if (Tasks == null || Assignees == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <EditForm Model="@TaskListSearch" OnSubmit=@SearchForm>
            <div class="row">
                <div class="col">
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="TaskListSearch.Name"></InputText>
                </div>

                <div class="col">
                    <label>Assignee</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.AssigneeId">
                        <option>Select an assignee</option>
                        @foreach (var assignee in Assignees)
                            {
                            <option value="@assignee.Id">@assignee.FullName</option>
                            }
                    </InputSelect>
                </div>

                <div class="col">
                    <label>Priority</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.Priority">
                        <option>Select a priority</option>
                        @foreach (string item in Enum.GetNames(typeof(Priority)))
                            {
                            <option value="@item">@item</option>
                            }
                    </InputSelect>
                </div>

                <div class="col pt-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="col pt-4">
                    <a href="/taskCreate" class="btn btn-success">Create</a>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>Assignee</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><PriorityLabel Priority="item.Priority"></PriorityLabel></td>
                        <td>@item.AssigneeName</td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyy hh:mm")</td>
                        <td><StatusLabel Status="item.Status"></StatusLabel></td>
                        <td>
                            <a href="/taskDetails/@item.Id">Detail</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

}
