@page "/taskDetails/{TaskId}"
@using TodoListBlazorWasm.Services;
@using TodoList.Models;
@using TodoListBlazorWasm.Components;

@inject ITaskApiClient TaskApiClient;

@if (Task == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <h3>Task @Task.Name</h3>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@Task.Name</td>
        </tr>
        <tr>
            <td>Assignee</td>
            <td>@Task.AssigneeName</td>
        </tr>
        <tr>
            <td>Create date</td>
            <td>@Task.CreatedDate</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td><PriorityLabel Priority="@Task.Priority"></PriorityLabel></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><StatusLabel Status="Task.Status"></StatusLabel></td>
        </tr>
    </table>
}


@code {

    [Parameter]
    public string TaskId { set; get; }

    private TaskDto Task { set; get; }

    protected async override Task OnInitializedAsync()
    {
        Task = await TaskApiClient.GetTaskDetail(TaskId);
    }
}
